.mainNavbar {
    padding: 0 48px 0 16px;
}

.imgLog {
    cursor: pointer;
    width: 20px;
}

.empty {
    display: none;
}

@media screen and (max-width: 767px) {
    .empty {
        display: block;
    }

    .login {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .imgLog {
        display: none;
    }
}