* {
  box-sizing: border-box;
}

.content {
  overflow: hidden;
  transition: all 0.3s ease-out;
  transform: translateY(-11%);
  padding: 0.2rem;
  opacity: 0;
}
.content.open {
  padding: 0.3rem;
  opacity: 1;
  transform: translateY(0);
}

/* app css */
.app {
  max-width: 900px;
  margin: auto;
  font-size: 1.1rem;
}
.backgroundbs {
  background: #f99622;
  margin-top: 50px;
  width: 100%;
  z-index: -1;
  position: relative;
  text-align: center;
  padding: 100px 250px 0px 250px;
  box-sizing: border-box;
}
.backgroundbs2 {
  background: #ffffff;
  margin-top: 0px;
  width: 100%;
  z-index: -1;
  position: relative;
  text-align: center;
  padding: 100px 250px 0px 250px;
  box-sizing: border-box;
}
.backgroundbs:before {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  border-radius: 100%;
  transform: translatey(-50%);
}
.backgroundbs2::before {
  content: "";
  position: absolute;
  background: #f99622;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  border-radius: 100%;
  transform: translatey(-50%);
}
.heading-box {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  align-items: center;
  background-color: #f99622;
  width: 100%;
  font-size: 1.1rem;
  cursor: pointer;
}
.heading-box2 {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0;
  align-items: center;
  margin: 0.2rem 1.6rem;
  background-color: #ffffff;
  /* border: 1px solid blue; */
  border-bottom: 1px solid rgba(15, 59, 94, 0.2);
  width: 100%;
  font-size: 1.1rem;
  cursor: pointer;
}

/* .heading-box2 :hover {
  color: #ffa338;
} */

.heading {
  font-size: 22px;
  font-weight: 600;
  padding: 0 1rem;
  color: #092338;
}

.heading2 {
  font-size: 20px;
  font-weight: 500;
  color: #0f3b5e;
}

.icon {
  background-color: #f99622;
  padding-left: 120px;
  background-image: url("arrow.svg");
  background-size: 35px 23px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 65px;
  height: 52px;
  cursor: pointer;
  content: "";
}

.icon.open {
  opacity: 1;
  transform: rotate(180deg);
}

.icon.revopen {
  opacity: 1;
  transform: rotate(-180deg);
}

.text {
  background-color: #ffffff;
  width: 100%;
  padding: 0.4rem;
  margin: 1rem;
}

.each-slide {
  transition: all 0.5s ease-in-out;
  overflow: visible;
  margin: 2em 0;
}

.each-slide:hover {
  transform: scale(1.05) translateY(-15px);
}

@media screen and (max-width: 1260px) {
  .backgroundbs,
  .backgroundbs2 {
    padding: 100px 60px 0px 60px;
  }
}

@media screen and (max-width: 1100px) {
  .app {
    margin: 50px auto 100px auto;
  }
}
@media screen and (max-width: 900px) {
  .fab-container {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .backgroundbs,
  .backgroundbs2 {
    padding: 20px 27px 0px 27px;
  }
  .backgroundbs:before,
  .backgroundbs2:before {
    display: none;
  }
  .heading-box2 {
    padding: 0.3rem 0;
    margin: 0.2rem 1rem;
  }
  .bgImage {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .heading {
    font-size: 16px;
  }
  .icon {
    background-size: 18px;
    padding-left: 100px;
    width: 60px;
    height: 44px;
  }
  .heading2 {
    font-size: 16px;
  }
  .text {
    font-size: 14px;
  }
}

.myButton {
  background: #121263 !important;
  width: 80px !important;
  height: 80px !important;

  @media screen and (max-width: 900px !important) {
    display: none;
  }
}

.myContainer {
  background: #121263 !important;
  width: 200px !important;
  height: 80px !important;

  @media screen and (max-width: 900px !important) {
    display: none !important;
  }
}

.rec-dot {
  border: 0;
  visibility: hidden;
}
.rec-item-wrapper {
  z-index: 3;
}

